#speed-input {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    -webkit-transition: .2s;
    transition: .2s;
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
}
